body, html{
    height: 100%;
}

body{
    background-color: black;
     
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.navbar{
    opacity: 0.4;
    
    
}

.nav-link{
    color: white;

}

small, p{
    color: whitesmoke;
}